numpy
scipy
matplotlib
scikit-image
scikit-learn 
pandas
gunicorn
boto3
botocore
contextlib2
cloudinary
dlib
opencv-contrib-python==3.4.5.20
decorator
django-cors-headers
django-heroku
djangorestframework
django
docutils
python-dotenv
jmespath
pyhull
python-dateutil
raven
six
s3transfer
ffmpeg
